{% extends 'myapp/administrator/base.html' %}

{% block body %}
	<a href="{% url 'myapp:createcity' %}">
	<button class="btn btn-danger">

	<span class="glyphicon glyphicon-plus"></span>
	Add City
	</button></a>
	<br><br>
<div class="col-md-6">
 <table class="table table-responsive">
    <thead>
      <tr>
        <th>City Name</th>

	      <th>Update/Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for c in city_list %}
      <tr>
        <td>{{ c.name }}</td>

	      <td> <div class="btn-group">

		        <a href="{% url 'myapp:admin-city-update' c.slug %}">

			        <span class="glyphicon glyphicon-upload" style="font-size: x-large;color: yellow"></span>

		        </a>
		        <a href="{% url 'myapp:admin-city-delete' c.slug %}">
			        <span class="glyphicon glyphicon-remove" style="font-size: x-large;color: red"></span></a>
		      </div></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>


{% endblock %}
