{% extends 'myapp/administrator/base.html' %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-offset-1">
				<h2>{{ entry }} - <small>{{ entry.category }} in {{ entry.city }}</small></h2>
				<hr>
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}

					{% include 'myapp/form-template.html' %}

					<input type="submit" class="btn btn-primary" value="Update {{ entry.category }}">


				</form>
			</div>
			<div class="col-md-5">
				<img src="{{ entry.image_url }}" alt="" width="100%">
			</div>
		</div>
	</div>


{% endblock %}
